.movie-details {
  margin: 1rem;
  border: 0.2rem solid black;
  padding: 0.5rem;
}

.back-button {
  padding: 1rem;
  border: 0.1rem solid black;
  border-radius: 0.1rem;
  background-color: lightgrey;
}
